*{
    margin:0;padding: 0;outline: 0}
body{font-family: arial;font-size: 14px;line-height: 18px;color: #000;}


.templete{width:960px;margin: 0 auto;}
.headersection{height: 85px;background: #2F2D2E;color: #fff;}
.headersectionh2{
    font-size: 40px;
    padding-top: 30px;
    text-align: center;
}
.navsection{height: 30px;background: #9B99A;}
.navsection p{padding-left: 50px;font-size: 30px;}
.contentsection{}
.maincontent{}
.maincontent p{}
.sidebar{}
.sidebar p{}
.footersection{}
.footersection p{}



